<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <label for="Address">Address</label>
        <h1 id = "Address">{{.UserData.Address}}</h1>
    </div>
    <div>
        <label for="Role">Role</label>
        <h1 id = "Role">{{.UserData.Role}}</h1>
    </div>
    <div>
        <label for="Eth">Eth</label>
        <h1 id = "Eth">{{.UserData.Eth}}</h1>
    </div>
    <div>
        <label for="CMON">CMON</label>
        <h1 id = "CMON">{{.UserData.CMON}}</h1>
    </div>
</body>
</html>